
/* .bg-custom-pink {
  --tw-bg-opacity: 1;
  background-color: rgb(190 255 244 / var(--tw-bg-opacity));
} */
/* .container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 8rem;
} */

@keyframes zoom-in {
    from {
      transform: scale(0.8); /* Start with a smaller size */
      opacity: 0; /* Start with opacity 0 */
    }
    to {
      transform: scale(1); /* Zoom to normal size */
      opacity: 1; /* Fade in */
    }
  }

  .hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    animation: zoom-in 1.5s forwards; /* Apply the zoom-in animation */
  }

  /* Add styles for centered logo */
  .logo img {
    max-width: 100%; /* Ensure logo doesn't exceed its container */
    margin: 0 auto; /* Center the logo */
  }

  /* Add styles for the button animation */
  .hero .content button {
    opacity: 0;
    transform: translateY(20px);
    animation: fade-in 1s forwards, slide-up 1s forwards;
  }

  /* Define the slide-up animation */
  @keyframes slide-up {
    from {
      transform: translateY(20px);
    }
    to {
      transform: translateY(0);
    }
  }
</style>

.custom-btn {
  width: 160px;
  height: 50px;
  color: #fff;
  border-radius: 15px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn {
  border: none;
  background: #d46892;
    background: linear-gradient(0deg, rgb(235, 52, 122) 0%, #d46892 100%);
    color: #fff;
    overflow: hidden;
}
.btn:hover {
    text-decoration: none;
    color: #fff;
}
.btn:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}
.btn:hover{
  opacity: .7;
}
.btn:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


@-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}


#scroll-down-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: 20rem;
}

#scroll-text {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.mouse {
  margin: 0 auto;
  display: block;
  border-radius: 50px;
  border: 2px solid #000;
  height: 60px;
  width: 30px;
  position: relative;
}

.move {
  position: absolute;
  background-color: #000;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  animation: move 2s linear infinite;
}

@keyframes move {
  0% {
    transform: translate(-50%,10px);
    opacity: 0;
  }
  50% {
    transform: translate(-50%,35px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%,45px);
    opacity: 0;
  }
}

#REI{
  background-image: linear-gradient( #fff 15%,#F1F4F9, #FFFBFC);
}
#REI1{
  background-image: linear-gradient( #fff 15%,#efeff1, #FFFBFC);
}

.wallpaper{
  text-transform: uppercase;
	background: linear-gradient(to right, #7928CA 10%, #FF0080 30%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-size: 4rem;
  /* font-family: 'Inter', sans-serif; */
  font-weight: 700;
}
